html {
    background-color: #fff;
    
}
body {
    font-family: 'Exo 2', sans-serif;
    position: relative;
}
* {
    transition: all .3s;
}
.tabs {
    width: 100%;
    height: 40%;
}
.tabs ul {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
}
.tabs ul li {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: rgb(243, 137, 187);
    line-height: 1;
    padding: 10px 0;
}
.tabs ul li.active {
    background-color: rgb(247, 115, 177);
}
.tabs ul li a {
    font-style: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #fff;
    line-height: 1;
    text-decoration: none;
}
.tabs_content {
    padding: 20px;
}
.tabs_content--item {
    height: 0;
    overflow: hidden;
    opacity: 0;
}
.tabs_content--item.active{
    height: auto;
    overflow: auto;
    opacity: 1;
}
.tab {
}
.tab__items {
}
.tab__box {
}